{% extends "base/ad.html" %}

{% block no_assignment %}
    <h1>Call for participants</h1>
    <p>
        The Pscyhology Lab at University of California, Berkeley is looking for online participants
        for a brief psychology experiment. The only requirements
        are that you are at least 18 years old and are a fluent English
        speaker. The task will take between 5 and 10 minutes and will pay $1.75.
    </p>
    <p>
        Please click the "Accept HIT" button on the Amazon site
        above to begin the task.
    </p>
{% endblock no_assignment %}