{% extends "base/consent.html" %}

{% block consent_text %}
<h3>CONSENT TO PARTICIPATE IN RESEARCH</h3>
<h4>Gem Experiment</h4>

<p><b>Introduction/Purpose</b></p>

<p>My name is P. M. Krafft. I am a former postdoctoral researcher at the
University of California, Berkeley, working with my faculty advisor, Professor
Griffiths, in the Department of Psychology in collaboration with Thomas Morgan
at Arizona State university. Funding for this research is provided by the
Defense Advanced Research Projects Agency (DARPA). We are planning to conduct a
research study, which I invite you to take part in. The purpose of this study is
to better understand human cognition and evolution.</p>

<p><b>Procedures</b></p>

<p>If you agree to participate in my research, I/we will ask you to complete the
attached online survey/ questionnaire.  You will be shown images of carton
gemstones and results of laboratory tests of those stones and asked to classify
the stones, which should take about 5-10 minutes to complete.</p>

<p><b>Benefits</b></p>

<p>There is no direct benefit to you anticipated from participating in this
study. However, it is hoped that the information gained from the study will
benefit society at large. By furthering our understanding of human cognition and
evolution, this research will benefit society by helping with the development of
automated systems that can better solve problems that are computationally
challenging, but that people can solve easily with little formal guidance.</p>

<p><b>Risks/Discomforts/Confidentiality</b></p>

<p>The research staff will protect your data from disclosure to people not
connected with the study.  However, complete confidentiality cannot be
guaranteed because officials of the U. S. Army Human Research Protections Office
are permitted by law to inspect the records obtained in this study to insure
compliance with laws and regulations covering experiments using human subjects.
Your data will not be associated with your name directly in any way. However,
while the study is running it will be associated with your MTurk ID
which someone could potentially use to personally identify you. Once the study
is complete, we will replace your MTurk ID with a random string.
These records may be shared with other researchers, but will not contain your
MTurk ID or any other personal information. Responses you make
within the study may be shown to other participants, but these responpses will
not be linked to your personally identifiable information in any way.</p>

<p>While we will handle your responses as confidentially as possible, we cannot
guarantee the confidentiality of information transmitted over the Internet. As
with all research, there is a chance that confidentiality could be compromised;
however, we are taking precautions to minimize this risk. We will be keeping
data collected as part of this experiment indefinitely. Identifiers might be
removed from the identifiable private information. After such removal, the
information could be used for future research studies or distributed to other
investigators for future research studies without additional informed consent
from the subject or the legally authorized representative.</p>

<p><b>Compensation</b></p>

<p>In return for your time and effort, you will be paid $[Payment amount] for
taking part in this study. This money will be credited to your account within a
week of submitting the study.</p>

<p><b>Rights</b></p>


<p><b><i>Participation in research is completely voluntary.</i></b>  You have the right to
decline to participate or to withdraw at any point in this study without penalty
or loss of benefits to which you are otherwise entitled.</p>

<p><b>Questions</b></p>

<p>If you have any questions or concerns about this study, you may contact P. M.
Krafft at <a href="mailto:pkrafft@berkeley.edu">pkrafft@berkeley.edu</a> or Thomas Griffiths at
<a href="mailto:tom_griffiths@berkeley.edu">tom_griffiths@berkeley.edu</a>.</p>

<p>If you have any questions or concerns about your rights and treatment as a
research subject, you may contact the office of UC Berkeley's Committee for the
Protection of Human Subjects, at 510-642-7461 or <a
href="mailto:subjects@berkeley.edu">subjects@berkeley.edu</a>.</p>


<p>*********************************************</p>

<p>By consenting to participate, you acknowledge that you are 18 years or older,
have read this consent form, agree to its contents, and agree to take part in
this research. If you do not wish to consent, close this page and return the HIT
on Mechanical Turk.</p>

<div><button type="button" class="btn btn-primary btn-info" onClick="window.print();return false;" style="float: right;">Print this page</button></div>
<br>
<br>
{% endblock %}
