{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>TODO: (PK) Update consent</p>

        <p>In this experiment, you will play the role of a research laboratory
        technician examining classifications of gemstones.</p>

        <p>We will ask you to classify eight specimens.</p>

        <p>You can make your judgments based on two sources of information. One
        source of information is the laboratory tests you run yourself. The
        second source of information is judgments from previous technicians.</p>

        <p>The tests you run yourself have a certain degree of reliability. Each
        test produces evidence for the correct classification with probability
        0.6, and produces evidence for incorrect classifications with
        probability 0.5.</p>

        <p>The set of technicians working on this project (i.e., previous MTurk
        workers) operate in shifts. You will be able to observe the judgment of
        workers from the previous shift as long as you are not in the first
        shift.</p>

        <p>TODO: (PK) add comprehension check</p>

        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.goToPage('experiment')">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        dallinger.createParticipant();
    </script>
{% endblock %}
